*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:merriweather, Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    margin: 0 auto;
    color: #333;
    background: #f4f4f4;
    padding: 10px 0;
    text-align: center;
    width: 650px;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    color: navy;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    background-color:  #eee;
    border: #ccc solid 1px;
    border-radius: 0.5rem;
    display: grid;
}

fieldset{
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

legend {
    padding: 0.5rem;
    font-size: 1.3em;
    font-weight: normal;
    color: navy;
}

label, input, select, textarea, button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

label{
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
}

input,select, textarea{
    
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
 button{
    margin: 1rem 0;
    width: 100%;
    font-size: 1.1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background: #333;
    background-color: navy;
    color: #fff;
    cursor: pointer;
 }

 button:hover{
     background: #444;
 }

 footer{
     margin:1rem auto 0;
     width: 650px;
     text-align: center;
     font-size: 0.8em;
     color: #777;
     padding: 1rem;
     bottom: 0;
     border-top: 1px solid #ccc;
 }

 .form-item{
     display: grid;
     align-items: center;
    
 }

 .column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
 }

 .column2{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
 }

 .column3 label{
    display: flex;
        vertical-align: bottom;
        align-items: center;
        margin: auto;
        text-align: center;
 }

 textarea, input[type="text"]{
     font-size: 1.1rem;
     padding: 0.5rem;
     border: 1px solid #ccc;
     border-radius: 0.5rem;
     width: 100%;
 }
